<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			
			<div class="panel-body">
				<h2><%= @post.title %>
				</h2>
					<p><%= @post.body %></p>
					<br>
			</div>

			<%= form_for @comment, url: {action: "create"}, class: "form-group" do |f|  %>
				
				<%= f.label :body, "Add a new comment ..." %>
				<%= f.text_field :body, placeholder: "How do you really feel?", class: "form-control", :required => true, :autofocus => true %><br>

				<%= f.submit "Submit comment", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>