<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			<center>
				<h1>Edit your profile!</h1>
			</center>

			<%= form_for @user, url: update_user_path, class: "form-group"  do |f|  %>

			<%= f.label :first_name %>
			<%= f.text_field :first_name, placeholder: "First Name", class: "form-control", :required => true, :autofocus => true %><br>

			<%= f.label :last_name %>
			<%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", :required => true %><br>

			<%= f.label :current_city %>
			<%= f.text_field :current_city, placeholder: "Current City", class: "form-control", :required => true %><br>

			<center>
				<%= f.submit "Update User", class: "btn btn-primary" %>
			</center>
			<% end %>
		</div>
	</div>
</div>