<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-body" style="text-align:center">
					<p><%= image_tag @user.avatar.url(:medium) %></p>
				</div>
			</div>	
		</div>

		<div class="col-sm-6">	
			<div class="panel panel-default">
				<div class="panel-body" >
					<h1>Hi, <%= @user.full_name %></h1>
						<strong><p>Current City: <%= @user.current_city %></p>
						</strong> 
						<p> You have been a member since: <%= @user.created_at %></p>	
					<br>
					<br>
					<% @user.posts.reverse.each do |post| %>
							<h4 style="text-align:center"><a href="/posts/<%= post.id %>" > <%= post.title %></a></h4><br>
					<% end %>
				</div>
						
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			
				</div>
			</div>
			
		</div>
	</div>
</div>

