<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			<center>
				<h1>Create a New Post!</h1>
				<p>Authored by: <%= current_user[:first_name] %> | Posting in <%= @post.city.name %></p>
			</center>

			<%= form_for @post, url:{action: "create"}, class: "form-group" do |f|  %>

			<%= f.label :title %>
			<%= f.text_field :title, placeholder: "Title", class: "form-control", :required => true, :autofocus => true %><br>

			<%= f.label :body %>
			<%= f.text_area :body, placeholder: "Your Content Here", class: "form-control", :required => true %><br>

			<%= f.label :city_id %>
			<%= f.text_field :city_id, placeholder: "City ID", class: "form-control", :required => true %><br>

			<center>
				<%= f.submit "Submit Post", class: "btn btn-primary" %>
			</center>
			<% end %>
				<% flash.each do |name, msg| -%>
					<%= content_tag :div, msg, class: name %>
				<% end -%>
		</div>
	</div>
</div>